/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
@import '@vuepress-reco/tailwindcss-config/lib/client/styles/tailwindcss-base.css';


div[class*="language-"],
.line-numbers {
 background-color: #282c34 !important;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #ABB2BF !important;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

div[data-ext] pre {
    padding-top: 8px !important;
    padding-bottom: 15px !important;
    line-height: 1.5 !important;
}

pre[class*="language-"] {
    margin-bottom: 0 !important;
}


pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #383e49 !important;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: #9aa2b1 !important;
}

@media print {

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #282c34 !important;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #5C6370 !important;
}

.token.comment {
    font-style: italic;
}

.token.punctuation {
    color: #abb2bf !important;
}

.token.selector,
.token.tag {
    color: #e06c75 !important;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
    color: #d19a66 !important;
}

.token.string,
.token.char,
.token.attr-value,
.token.inserted {
    color: #98c379 !important;
}

.token.builtin,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #56b6c2 !important;
}

.token.atrule,
.token.keyword {
    color: #c678dd !important;
}

.token.function {
    color: #61afef !important;
}

.token.regex,
.token.important,
.token.variable {
    color: #c678dd !important;
}

.token.important,
.token.bold {
    font-weight: bold !important;
}

.token.italic {
    font-style: italic !important;
}

.token.entity {
    cursor: help !important;
}

.token.class-name {
    color: #e5c07b !important;
}

pre.line-numbers {
    position: relative !important;
    padding-left: 3.8em !important;
    counter-reset: linenumber !important;
}

pre.line-numbers>code {
    position: relative !important;
}

.line-numbers .line-numbers-rows {
    position: absolute !important;
    pointer-events: none !important;
    top: 0 !important;
    font-size: 100% !important;
    left: -3.8em !important;
    width: 3em !important;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px !important;
    border-right: 0 !important;

    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;

}

.line-numbers-rows>span {
    pointer-events: none !important;
    display: block !important;
    counter-increment: linenumber !important;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #5C6370 !important;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

.line-numbers-mode {
    @apply relative;

    .line-numbers {
        counter-reset: line-number;
        padding-top: 16px !important;
        top: 0 !important;
        line-height: 1.5 !important;

        br {
            user-select: none;
        }

        .line-number {
            position: relative;
            z-index: 3;
            user-select: none;
            color: #5C6370 !important;
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            font-size: 1rem;

            &::before {
                counter-increment: line-number;
                content: counter(line-number);
            }
        }
    }
}

.code-group {
    background-color: #282c34 !important;

    .code-group__nav-tab {

        .xicon-container {
            @apply text-slate-500 !important;
        }
    }

    .code-group__nav-tab-active {

        .xicon-container {
            @apply text-reco-primary !important;
        }
    }

    .code-group-item {
        border-top: 1px solid #64748b4d !important;
    }
}